* {
  background-color: black;
  color: white;
  font-family: 'Amatic SC', cursive;
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

@keyframes move-asset-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-webkit-keyframes move-asset-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-moz-keyframes move-asset-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
@-ms-keyframes move-asset-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes fade-in-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.stars,
.twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.stars {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top
    center;
  z-index: 0;

  -moz-animation: move-asset-back 1000s linear infinite;
  -ms-animation: move-asset-back 1000s linear infinite;
  -o-animation: move-asset-back 1000s linear infinite;
  -webkit-animation: move-asset-back 1000s linear infinite;
  animation: move-asset-back 1000s linear infinite;
}

.twinkling {
  background: transparent
    url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat
    top center;
  z-index: 1;

  -moz-animation: move-asset-back 200s linear infinite;
  -ms-animation: move-asset-back 200s linear infinite;
  -o-animation: move-asset-back 200s linear infinite;
  -webkit-animation: move-asset-back 200s linear infinite;
  animation: move-asset-back 200s linear infinite;
}
